/*  your css code here. If applicable */
#table-1,#table-2,#table3{
	border:1px solid black;
	cell-padding:1px;
}
td{
	cell-padding:1px;
}
.t31{
	background-color:green;
}
.t33{
	background-color:blue;
}
